/*Reset*/
*{  
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/*Body*/
body{
    justify-content: flex-end;
    background-color:rgb(56, 85, 48);
}

.container-grid{
    display: grid;
    grid-template-rows: 120px 70vh 200px;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "header"
    "portada"
    "footer";

}



/*pie de pagina*/
.logo{
    height: 100px; 
    width: 230px;
    margin-left: 1.3rem;
    position: relative;
    left: 6px;   
}
.header{
    background-color: rgb(0, 0, 0);   
    padding: 1.6rem;
    display: flex; 
    grid-area: header; 
}
.nav{ 
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;
    width: 100%;
}
 

/*MENU*/
ul li a{
    flex: auto;
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);  
}

.nav ul{
    display: flex;
    flex: auto;
    justify-content: space-around;
    width: 60%;
    list-style-type: none;
}


/*Servicios*/
h2{
    text-align: center;
    padding: 20px;
    margin: 10;
}

/*Parrafos en la pagina NOSOTROS*/

p{
    padding: 2rem;
    margin: 2rem;
    margin-left: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

/*Lista de Servicios*/
.listas{
    list-style-position: inside;
    list-style-type: numbers;
    line-height: 2;
    color:aqua;   
}

/*Color de los Servicios*/
.servicios{
    color: rgb(190, 182, 137)
}

/*Bordes de las imagenes en CONTENIDOS*/
.bordesRedondos{
    height: 250px;
    border-radius: 35%; 
    
}

/*Imagen NOSOTROS*/
.imagen{
    margin: 0;
    padding: 12rem;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagenes/logo33.jpg);
}

/*Imagen CONTACTENOS*/
.imagenPortada{
    width: 100%;
    height: 80vh;
    background-size: cover;
}


/*Imagen HOME*/

.ensamble{
    background: url(../imagenes/ensamble_motor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: portada;  
}




/*Footer*/
.piePagina{
    background-color: rgb(155, 148, 85);
    font-size: 20px;
    color: rgb(22, 22, 24); 
    grid-area: footer; 
}

@media screen and (max-width: 1300px) {
    .nav ul{
        width: 100%;
    }
    ul li a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .container-grid{
        grid-template-rows: 220px 70vh 200px;
    }
    .nav { 
        flex-direction: column;
    }
    .logo {
        margin-left: auto;
        left: 0;
    }
    .nav ul{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
    }
    ul li {
        margin-top: 10px;
    }   
}
