/*Reset*/
*{  
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/*Body*/
body{
    justify-content: flex-end;
    background: rgb(34,26,62);
    background: -moz-linear-gradient(83deg, rgba(34,26,62,1) 25%, rgba(135,135,131,1) 100%, rgba(180,180,59,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    background: -webkit-linear-gradient(83deg, rgba(34,26,62,1) 25%, rgba(135,135,131,1) 100%, rgba(180,180,59,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    background: linear-gradient(83deg, rgba(34,26,62,1) 25%, rgba(135,135,131,1) 100%, rgba(180,180,59,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221a3e",endColorstr="#677232",GradientType=1);
}
.container-grid{
    display: grid;
    grid-template-rows: 120px 70vh 200px;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "header"
    "portada"
    "footer";

}


/*pie de pagina*/
.logo{
    height: 80px; 
    width: 250px;
    position: relative;
    left: 10px;
           
}
.header{
    background-color: rgb(0, 0, 0);   
    padding: 3rem;
    display: flex; 
    grid-area: header;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(83deg, rgba(0,0,0,1) 52%, rgba(232,232,225,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    background: -webkit-linear-gradient(83deg, rgba(0,0,0,1) 52%, rgba(232,232,225,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    background: linear-gradient(83deg, rgba(0,0,0,1) 52%, rgba(232,232,225,1) 100%, rgba(121,121,121,1) 100%, rgba(251,251,251,1) 100%, rgba(35,38,6,1) 100%, rgba(43,58,20,1) 100%, rgba(48,64,11,1) 100%, rgba(43,63,12,1) 100%, rgba(57,83,19,1) 100%, rgba(57,83,19,1) 100%, rgba(103,114,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#677232",GradientType=1); 
}
.nav{ 
    display: flex;
    flex-direction: row; /*adicionado hoy*/
    align-items: center;  
    justify-content: space-between;
    width: 100%;
    
}
 

/*MENU*/
ul li a{
    flex:auto; /*adicionado hoy*/
    text-decoration: none;
    font-size: 340%;
    color: rgb(255, 255, 255);
    transition: all 0.6s;

}

a:hover{
    color: rgb(58, 21, 21);
    font-size: 1.3rem;
}

li {
    font-size: 50%;

}

.nav ul{  /*adicionado hoy*/
    display: flex;
    flex: auto; /*adicionado hoy*/
    justify-content: space-around;
    width: 60%;
    list-style-type: none; /*adicionado hoy*/
}


/*Servicios*/
h2{
    text-align: center;
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    color: rgb(51, 39, 39);
    background-color: aliceblue;

    
}

/*Parrafos en la pagina NOSOTROS*/

p{
    padding: 12rem;
    margin: 2rem;
    margin-left: 1rem;
    color: rgb(7, 7, 7);
    font-size: 1.8rem;
}

/*Lista de Servicios*/
.listas{
    list-style-position: inside;
    list-style-type: numbers;
    line-height: 2rem;
    color:aqua;
    font-size: 0.9rem;   
}

/*Color de los Servicios*/
.servicios{
    color: rgb(245, 208, 2);
    width: 30%;

}

/*Bordes de las imagenes en CONTENIDOS*/
.bordesRedondos{
    height: 270px;
    border-radius: 15%;
    padding: 2rem; 
    
}

/*Imagen NOSOTROS*/
.imagen{
    margin: 0;
    padding: 12rem;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagenes/logo33.jpg);
}

/*Imagen CONTACTENOS*/
.imagenPortada{
    width: 100%;
    height: 80vh;
    background-size: cover;
}


/*Imagen HOME*/

.ensamble{
    background: url(../imagenes/ensamble_motor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: portada; 
    color: rgb(30, 30, 32);
    
}




/*Footer*/
.piePagina{
    background-color: rgb(155, 148, 85);
    font-size: 20px;
    color: rgb(22, 22, 24); 
    grid-area: footer; 
}


/*RESPONSIVE*/
@media screen and (max-width: 1300px) {
.nav ul {
    width: 100%;     
    }
ul li a {
    font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .contanider-grid {
        grid-template-rows: 220px 70vh 200px;
    }
    .nav {
        flex-direction: column;
    }
    .logo {
        margin-left: auto;
        left: 0;
    }
    .nav ul {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;

    }
}
